<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.jsdelivr.net/webcomponentsjs/latest/webcomponents.min.js"></script>
    <!-- <link rel="import" href="../../{{TagName}}.html"/> -->
    <!-- <script src="../../dist/{{TagName}}.min.js"></script> -->
    <script src="../../tags/{{TagName}}/tag.js"></script>
  </head>
  <body>
    <{{TagName}}></{{TagName}}>
  </body>
</html>
